@font-face{
	font-family: 'raleway';
	src: url('police/Raleway-VariableFont_wght.ttf');
}


 
               /******** G E N E R A L **************/

*  {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
   
}

.page {
    margin: 0px 50px 50px 50px;
}
section h1,h2{
    font-size:18px;
}
h3 {
    font-size: 14px;
}
h1,h2,h3,.gras,#inscrire{
    font-weight: bold;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

i{
    
    color: #0065fc;
}
span i {
    color: #d9d9d9;
}
                     /***** H E A D E R ****/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 65px;
 }

nav ul li {
    display: inline-block;
    margin-left:70px;
}

.logo img {
    width: 95px;
    padding-top: 20px;

}
#hebergements{
    padding-top: 49px;
    border-top:1px solid #0065fc;
}
#hebergements a:visited{
    color: #0065fc;
}
#activites a{
    color: #000;
}
#inscrire a,#inscrire a:visited {
    color:#0065fc;
}
a,a:visited{
    color: #000;
}


        /****** S E C T I O N 01 \ RECHERCHE \ */

h1 {
    font-size: 16px;
    margin: 50px 0px 15px;
}

    /* barre de recherche */ 

.barre_de_recherche {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 420px;
    height: 50px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.icone_adresse {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
   
}

form input{
    font-weight: bold;
    border: none;
    font-size: 14px;
    outline: none;
}

.bouton_rechercher {
    width: 135px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: #0065fc;
    border-radius: 0px 10px 10px 0px;
    border: none;
}
.icone_rechercher {
    display: none;
}
 /*** Les filtres **/

.filtres {
    width: 70%;
    display: flex;
    margin-bottom: 40px;
}


.filtres h3 {
   width: 6%;
   line-height: 50px;
}

.filtres_bloc {
    width: 94%;
    display: flex;
}


.bloc1{ 
    width: 45%;
    display: flex;
    justify-content: space-around;
    flex-grow: 0;
    flex-shrink: 1;
    
}

.bloc2{
    width:55%;
    display: flex;
    justify-content: space-around;
    flex-grow: 0;
    flex-shrink: 1;
}


.filtre {
    display: flex;
    height: 48px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    line-height: 50px;
    flex-shrink: 1;
    flex-grow: 0;

}
.filtre:hover{
    color: #fff;
    background-color: #0065fc;
}
.icone {
    width: 50px;
    height: 52px;
    line-height: 50px;
    text-align: center;
    background-color: #deebff;
    border-radius: 100%;
    margin: -2px 10px 0px -2px;
   
}
.eco {
    margin-right:  10px;
    font-weight: bold;
    font-size: 13px;
}

.infos {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.infos i{
    font-size: 12px;
}
.icone_infos {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
    margin-right: 10px; 

}
