@font-face{
	font-family: 'raleway';
	src: url('police/Raleway-VariableFont_wght.ttf');
}


 
               /******** G E N E R A L **************/

*  {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
   
}

.page {
    margin: 0px 50px 50px 50px;
}
section h1,h2{
    font-size:18px;
}
h3 {
    font-size: 14px;
}
h1,h2,h3,.gras,#inscrire{
    font-weight: bold;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}

i{
    
    color: #0065fc;
}
span i {
    color: #d9d9d9;
}
                     /***** H E A D E R ****/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 65px;
 }

nav ul li {
    display: inline-block;
    margin-left:70px;
}

.logo img {
    width: 95px;
    padding-top: 20px;

}
#hebergements{
    padding-top: 49px;
    border-top:1px solid #0065fc;
}
#hebergements a:visited{
    color: #0065fc;
}
#activites a{
    color: #000;
}
#inscrire a,#inscrire a:visited {
    color:#0065fc;
}
a,a:visited{
    color: #000;
}


        /****** S E C T I O N 01 \ RECHERCHE \ */

h1 {
    font-size: 16px;
    margin: 50px 0px 15px;
}

    /* barre de recherche */ 

.barre_de_recherche {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 420px;
    height: 50px;
    border: 1px solid #f2f2f2;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 30px;
}

.icone_adresse {
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
   
}

form input{
    font-weight: bold;
    border: none;
    font-size: 14px;
    outline: none;
}

.bouton_rechercher {
    width: 135px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    background-color: #0065fc;
    border-radius: 0px 10px 10px 0px;
    border: none;
}
.icone_rechercher {
    display: none;
}
   /*** Les filtres **/

.filtres {
    width: 70%;
    display: flex;
    margin-bottom: 40px;
}


.filtres h3 {
   width: 6%;
   line-height: 50px;
}

.filtres_bloc {
    width: 94%;
    display: flex;
}


.bloc1{ 
    width: 45%;
    display: flex;
    justify-content: space-around;
    flex-grow: 0;
    flex-shrink: 1;
    
}

.bloc2{
    width:55%;
    display: flex;
    justify-content: space-around;
    flex-grow: 0;
    flex-shrink: 1;
}


.filtre {
    display: flex;
    height: 48px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
    line-height: 50px;
    flex-shrink: 1;
    flex-grow: 0;

}
.filtre:hover{
    color: #fff;
    background-color: #0065fc;
}
.icone {
    width: 50px;
    height: 52px;
    line-height: 50px;
    text-align: center;
    background-color: #deebff;
    border-radius: 100%;
    margin: -2px 10px 0px -2px;
   
}
.eco {
    margin-right:  10px;
    font-weight: bold;
    font-size: 13px;
}

.infos {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.infos i{
    font-size: 12px;
}
.icone_infos {
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    border: 1px solid #f2f2f2;
    border-radius: 12px;
    margin-right: 10px; 

}
 /** S E C T I O N 02 / Hébérgements à Marseille / **/ 

#marseille {
    display: flex;
    margin:40px 0px 65px 0px ;
    font-size: 13px;
}

#marseille h2{
    margin: 45px 0px 25px 40px;
}

.hebergements_marseille {
    width: 65.67%;
    background-color: #f2f2f2;
    border-radius: 10px;
    margin-right: 40px ;
}

.hotels {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

}

.bloc_photo{
    width: 26.7%;
    height: 190px;
    background-color: #fff;
    border-radius: 10px;
    border: 5px solid #fff;
    margin-bottom: 30px;
}

.bloc_photo picture img{
    width: 100%;
    height: 115px;
    border-radius: 10px 10px 0px 0px;
}


 .bloc_photo{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}
.bloc_photo:hover{
    -webkit-transform:scale(1.08); 
    -moz-transform:scale(1.08); 
   
    box-shadow: 2px 2px 5px grey;
    background-color: #deebff;
}

.infos_dessous {
    height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 15px;
}
.afficher {
    padding-bottom: :20px;

}

        /* ASIDE */

aside {
    width: 34.32%;
    background-color: #f2f2f2;
    border-radius: 10px;
    position: relative;
}

.chart-line{
    position: absolute;
    top: 45px;
    right: 40px;
}

.chart-line i{
    color: #000;
}

aside h2{
    margin:45px 0px 25px 35px;
}
.les_populaires {
    width:79.76%;
    margin:0px auto;
} 
.bloc_photo_populaires {
    width:100%;
    height: 135px;
    background-color: #fff;
    border:5px solid #fff;
    border-radius: 10px;
    margin: 25px auto;
    display: flex;
}
.bloc_photo_populaires picture{
    width: 40%;
    margin-right: 20px;
}
.bloc_photo_populaires picture img{
    width:100%;
    height: 135px;
    border-radius: 10px 0px 0px 10px;
}

.bloc_photo_populaires{
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}
.bloc_photo_populaires:hover{
    -webkit-transform:scale(1.08); 
    -moz-transform:scale(1.08); 
    
    box-shadow: 2px 2px 5px grey;
    background-color: #deebff;
}

.infos_cote {
    width: 60%;
    margin: 20px 0px 15px 15px;
    display: flex;
    flex-direction: column;
    
}
.infos_cote h3{
    flex:1;
}
.infos_cote .prix{
    flex:2;
}
.infos_cote.etoiles {
    flex: 3;
}
/**  S E C T I O N 03 / Activités à Marseille ***/

#activites_Marseille h2 {
    margin-bottom: 25px 
}

.rangee {
    display: flex;
    justify-content: space-between;
}
.rangee2,.rangee4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rangee h3 {
    margin: 15px 0px 15px 15px;
}
.rangee1,.rangee2,.rangee3,.rangee4 {
    width: 22.5%;
}
.rangee1,.rangee3 {
    height: 445px;
    border:1px solid #f2f2f2;
    border-radius: 10px;

}
.rangee1 picture img, .rangee3 picture img{
    width: 100%;
    height: 390px;
    border-radius: 10px 10px 0px 0px;
}

.photo2{
    width: 100%;
    height: 240px;
    border-radius: 10px;
    
}
.photo2 picture img {
    width: 100%;
    height: 180px;
    border-radius: 10px 10px 0px 0px;
}


.photo3 {
    width: 100%;
    height: 165px;
    border-radius: 10px;
}
.photo3 picture img {
    width: 100%;
    height: 110px;
    border-radius: 10px 10px 0px 0px;
}
.photo5,.photo6 {
    width: 100%;
    height: 195px;
    border-radius: 10px;
}
.photo5 picture img,.photo6 picture img {
    width: 100%;
    height: 140px;
    border-radius: 10px 10px 0px 0px;
}
.rangee1,.rangee3,.photo2,.photo3,.photo5,.photo6 {
    box-shadow: 10px 10px 10px #f2f2f2;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
}
.rangee1:hover,.rangee3:hover,.photo2:hover,.photo3:hover,.photo5:hover,.photo6:hover{
    -webkit-transform:scale(1.08); 
    -moz-transform:scale(1.08); 
   
    box-shadow: 2px 2px 5px grey;
    background-color: #deebff;
}
